.idea
/.idea/.name
/.idea/com_academicpages.iml
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dictionaries/awaterma.xml
/.idea/encodings.xml
/.idea/libraries/sass_stdlib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/admin/.DS_Store
/site/views/.DS_Store
/site/.DS_Store
/site/views/academicpages/.DS_Store
/.DS_Store
/site/js/.DS_Store
/site/img/.DS_Store
/site/models/configuration.ini
vendor

/node_modules/
/site/models/dbconfig.php
/dist/
/academicpages.sublime-project
/academicpages.sublime-workspace