/**
 * Main CSS for Academic pages project.
 * Specific configurations for our pages are located here.
 *
 * author: awaterma@ecosur.mx
 */

.top-margin {
    margin-top: 25px;
}

.bottom-margin {
    margin-bottom: 25px;
}

.scrolled-overflow {
    max-height: 250px;
    overflow-y: auto;
}

/**
 *  Example style from bootstrap documentation
 *  [https://gist.github.com/3619682]
 */
.bs-docs-example
{
    position: relative;
    margin: 15px 0;
    padding: 22px 2px 10px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/**
 * Modified content of bs-docs-example to show related Academics.
*/

.bs-docs-example::after
{
    content: "Académicos relacionados";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}


/* Template overrides */
/* Todo: move these to the Template . */
#rel-div ul li a:hover, dd a:hover, dt a:hover {
    color: #996633 !important;
}

/* Tab navigation */
.nav-tabs>li>a:hover:not(:active) {
    color: #996633 !important;
}

.dropdown-menu li>a:active, .dropdown-menu li>a:hover, .dropdown-menu li>a:active, .dropdown-submenu:hover>a
{   
    color: white !important;
    background-color: #996633 !important;
    background-image: none !important; 
}

a .caret {
    border-top-color: #996633 !important;
    border-bottom-color: #996633 !important;
}

li.active ul li.active a { 
    background: none !important;
    background-image: none !important;
    background-color: #996633 !important;   
    color: white;
}